.App-footer {
  border-top: 0.5em solid #d81b60;
  margin-top: 3em;
}
.App-footer a {
  color: inherit;
  text-decoration: underline;
  transition: text-shadow 0.15s ease;
}
.App-footer a:hover {
  color: white !important;
}
