@import "../../variables";

$hover: white;

.App-header {
    padding: 1em 2em 0.5em 2em;
    margin-bottom: 1em;
    border-bottom: 0.5em solid $accent;
}

.App-title {
    margin: 0!important;
    display: inline-block;
}
.App-title a {
    color: inherit;
    transition: text-shadow 0.15s ease;
}
.App-title a:hover {
    color: white;
}

.App-links {
    margin-left: 3em;
}
.App-links a {
    color: inherit;
    padding: 0.5em 1em 1em 1em;
    margin: 1em 0em;
    font-weight: bold;
    text-transform: lowercase;
}
.App-links a.active {
    background-color: $accent;
    color: $hover;
}
.App-links a:hover {
    background-color: $accent;
    color: $hover;
}
.App-links a::before {
    content: "/ ";
    font-weight: bold;
}

@media (max-width: 760px) {
    .App-header {
        text-align: center;
        padding: 0.5em 0;
    }
    .App-links {
        display: block;
        margin: 1em 0 0 0;
    }
    .App-links a {
        padding: 0.6em 1em;
    }
}


@media (max-width: 400px) {
    .App-links a {
        padding: 0.7em 0.5em;
    }
    .App-links a::before {
        content: none;
    }
}
